<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp :: header">
</head>
  <body>
    <div class="container">
      <div class="page-header">
       <h1>ユーザー更新</h1>
       <p th:if="${validationError}" th:text="${validationError}">validation error</p>
      </div>
      <div align="right">
        <a th:href="@{/user/}">Back</a>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form role="form" action="/user/update" th:action="@{/user/update/}" th:object="${user}" method="post">
            <!-- text -->
            <div class="form-group">
              <label class="control-label" for="id"><abbr title="required">*</abbr> Id</label>
              <input type="text" class="form-control" id="id" name="id" th:field="*{id}" readonly="readonly"/>
              <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="help-block">error!</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="name"><abbr title="required">*</abbr> Name</label>
              <input type="text" class="form-control" id="name" name="name" th:field="*{name}" maxlength="25" />
              <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block">error!</span>
            </div>
            <input type="hidden" class="form-control" id="inputText" name="passwordDigest" th:field="*{passwordDigest}" />
            <input type="hidden" class="form-control" id="inputText" name="createdAt" th:field="*{createdAt}" />
            <input type="hidden" class="form-control" id="inputText" name="createdBy" th:field="*{createdBy}" />
            <input type="hidden" class="form-control" id="inputText" name="updatedAt" th:field="*{updatedAt}" />
            <input type="hidden" class="form-control" id="inputText" name="updatedBy" th:field="*{updatedBy}" />
            <input type="hidden" name="_method" value="PUT"/>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>